@page
@using WebClient.Services
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">@DateTime.Now.DayOfWeek's outlook (@DateTime.Today.ToString("d"))</h1>
    <p>Learn about <a href="https://github.com/luisgizirian/commerce">an Open Source business management software</a>.</p>
</div>

<table class="table table-hover caption-top">
  <caption>Products</caption>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">SKU</th>
      <th scope="col">Name</th>
    </tr>
  </thead>
  <tbody>
  @{
  int row = 0;
  foreach (var product in (IEnumerable<CatalogItem>)ViewData["Products"])
  {
      <tr @(!product.IsEnabled?"class=table-danger":"")>
        <th scope="row">@(++row)</th>
        <td>@product.Sku</td>
        <td>@product.Name</td>
      </tr>
  }
  }
  </tbody>
</table>
